In [2]:
import pandas as pd
from datetime import date

Forest model

In [8]:
from spread_models import dry_forest
forest_params = {
    # time
    'months': (6,12),
    'hours': (9,16),
    # weather
    'T_SFC': (25,35),
    'RH_SFC': (30,10),
    'WindMagKmh_SFC': (20,30),
    'DF_SFC': (8,10),
    'KBDI_SFC': (100,150),
    # fuel
    'FHS_s': 3,
    'FHS_ns': 3,
    'FL_s': 10,
    'FL_ns': 3.5,
    'FL_el': 2,
    'FL_o': 4.5,
    'H_ns': 20,
    'H_el': 2,
    'H_o': 10,
    'WRF_For': 3,
}

In [6]:
df = pd.DataFrame(forest_params)
df

,months,hours,T_SFC,RH_SFC,WindMagKmh_SFC,DF_SFC,KBDI_SFC,FHS_s,FHS_ns,FL_s,FL_ns,FL_el,FL_o,H_ns,H_el,H_o,WRF_For
0,6,12,25,30,20,8,100,3,3,10,3.5,2,4.5,20,2,10,3
1,12,16,35,10,30,8,100,3,3,10,3.5,2,4.5,20,2,10,3

In [9]:
df['fmc'] = dry_forest.fuel_moisture_model(
    df['T_SFC'], df['RH_SFC'],(df['months'], df['hours'])
)
df['fmc']

0    7.5450
1    3.3455
Name: fmc, dtype: float64

In [ ]:
df['ROS'] = dry_forest.calc_rate_of_spread(
  df.fmc, df.WindMagKmh_SFC, df.DF_SFC, df 
)